body {
  margin: 0;
}

header {
}

ul {
  list-style: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
}

#header-branding {
  display: inline-flex;
  width: 20%;
  align-items: center;
}

#header-nav-container {
  display: flex;
  justify-content: end;
  width: 80%;
}

#header-nav-menu {
  display: inline-flex;
  gap: 1rem;
}
